@{
    ViewBag.Title = "About BadmitonBuddy";
}

<div class="container">
@Html.Partial("_ModalDialog")
<h2><b>About BadmintonBuddy</b></h2>
<blockquote>
<p>We are a team of people passionate about badminton and want to build an online place where badminton enthusiasts can explore and connect with other players and enjoy the game.</p>
<p>
The basic aim of the site is to provide:
<ul>
<li>Information on badminton courts</li>
<li>Look out for badminton partners</li>
<li>Information on coaches nearby</li>
<li>Latest happenings in badminton</li>
</ul>


<p>We believe this initiative is more of community driven by like minded badminton enthusiasts to help others play badminton. So if you are aware of any badminton court information, <a href="#" data-toggle="modal"
                                data-target="#newCourtInfo">please add here.</a></p>

<p>Provide your valuable feedback/suggestions at <a href="mailto:info@badmintonbuddy.com?Subject=Feedback" target="_top">info@badmintonbuddy.com</a> </p>
<small>Thank you @@BadmintonBuddy Team</small>
</blockquote>
</div>
