@{
    ViewBag.Title = "About BadmitonBuddy";
}

<div class="container">
<h2><b>About BadmintonBuddy</b></h2>
<p>We are a team of people passionate about badminton and want to build an online place where badminton enthusiasts can explore and connect with other players and enjoy the game. </p>
</div>
