@{
    ViewBag.Title = "Browse badminton courts across the world";
}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type="text/javascript">
        google.load('visualization', '1', { 'packages': ['geomap'] });
        google.setOnLoadCallback(drawMap);

        function drawMap() {
            var data = google.visualization.arrayToDataTable([
        ['Country', 'No Of Courts'],
        @foreach (var count in (ViewData["CountriesCount"] as Dictionary<string, int>))
        {
            <text>['@count.Key.ToString()',@count.Value.ToString()],</text>
        }      
      ]);

        var options = {};
        options['dataMode'] = 'regions';
        options['width'] = '100%';


        var container = document.getElementById('mapdiv');
        var geomap = new google.visualization.GeoMap(container);
        geomap.draw(data, options);
        };
    
    
    
</script>
<div class="container">    
    @Html.Partial("_ModalDialog")
    <div class="row panel page-min-height">    
        <div class="alert alert-dismissable fade in martop10 col-sm-9 col-sm-offset-1">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>This is an aggregation of court information available across the web. Please help build this list by <a href="#" data-toggle="modal"
                                data-target="#newCourtInfo">adding information.</a></p>
        </div>
        
        <div class="col-sm-9 martop10" id="mapdiv">
        </div>
        <div class="col-sm-3 martop10">
            @foreach (var cities in (ViewData["CountryCity"] as Dictionary<string, string>))
            {
                String[] cityArray = cities.Value.Split(',');                      
                <div class="list-group">
                    <a href="#" class="list-group-item active">@cities.Key.ToString()</a>
                    
                    @foreach (var city in cityArray)
                    {
                        <a href="/Search?q=@city" class="list-group-item">@city</a>                        
                    }
                </div>                    
            }
        </div>
    </div>
</div>
