@{
    ViewBag.Title = "Badminton partner Pune,Badminton partner Bangalore,Badminton partner Hyderabad,Badminton partner Chennai,Badminton partner Mumbai";
    ViewBag.MetaDescription = "Find badminton partners";
    ViewBag.MetaKeywords = "badminton partner, pune, mumbai, bangalore, hyderabad, chennai";  
}

<div class="container">
<div class="row">
    <div class="jumbotron col-sm-12 jumbo-custom">
    <h2>Find Badminton partners and start playing.</h2>
    <h2>We are working on this...</h2>
    </div>
    <div class="col-xs-offset-5 col-sm-12">
    <img src="../../Images/subscript-arrow.png" />
    </div>
    <div class="col-sm-offset-2 col-sm-6">
    <h3 class="text-center">Get notified once this is feature is available</h3>
    </div>
    
    <div class="form-group">

    <div class="col-sm-offset-2 col-sm-6">
    <div class="input-group input-group-lg">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg"></i></span>
    <input type="text" class="form-control" id="inputEmail" placeholder="Email address" />    
    </div>
    <p class="text-warning hidden" id="emailError">Please enter your email address</p>
    <p class="text-muted"><i class="fa fa-lock"></i> Your privacy is important to us and we will never spam or share email address.</p>
    </div>
    <div class="col-sm-3">
        <button class="btn-lg btn-success" id="btnNotify">Notify Me!!</button>
    </div>
    </div>
    
    <div class="col-sm-offset-2 col-sm-9 hidden" id="aftersubmit-msg">
    <p class="text-warning">Thanks! We will send you an email once this feature is available.</p>
    @*<p> We are also constantly seeking inputs from badminton enthusiasts like you to add more useful things to this website. <a href="">Help us build more useful stuff</a></p>
    <p class="text-center">OR</p>*@
    <p class="text-center"><a class="btn btn-primary" href="/Courts">Look for Badminton courts on BadmintonBuddy</a></p>
    </div>
    </div>
</div>
