@{
    ViewBag.Title = "News";
}
<div class="container">
    <div class="row panel">
        <div class="col-sm-8">
            <div class="page-header">
                <h2>
                    Latest News</h2>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <a href="#">
                            <img class="img-responsive img-thumbnail" src="http://sin.stb.s-msn.com/i/A2/1F06FD83E9D92335D19BACA543DC.jpg"
                                alt="Badminton" /></a>
                        <div class="caption">
                            <a href="#">
                                <h3>
                                    Lee Chong Wei vs Lin Dan</h3>
                            </a>
                            <p>
                                In the upcoming Uber cup you will get to see one of the biggest clash of the badminton
                                in terms of Lee vs Lin <a href="#">more..</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row well">
                        <div class="col-sm-4">
                            <a href="#">
                                <img class="img-responsive" alt="Badminton" src="http://www.thestar.com.my/~/media/Images/TSOL/Photos-Upload/From%20DCX/2014/05/10/doc6a78e9tcnolkl801nmq.ashx?w=140&h=105&crop=1&" /></a>
                        </div>
                        <div class="col-sm-8">
                            <a href="#" class="bold-font">This is title</a>
                            <p>
                                This is abstract text for the article <a href="#">more..</a></p>
                        </div>
                    </div>
                    <div class="row well">
                        <div class="col-sm-4">
                            <a href="#">
                                <img class="img-responsive" alt="Badminton" src="http://www.thestar.com.my/~/media/Images/TSOL/Photos-Upload/From%20DCX/2014/05/10/doc6a78e9tcnolkl801nmq.ashx?w=140&h=105&crop=1&" /></a>
                        </div>
                        <div class="col-sm-8">
                            <a href="#" class="bold-font">This is title</a>
                            <p>
                                This is abstract text for the article <a href="#">more..</a></p>
                        </div>
                    </div>
                    <div class="row well">
                        <div class="col-sm-4">
                            <a href="#">
                                <img class="img-responsive" alt="Badminton" src="http://www.thestar.com.my/~/media/Images/TSOL/Photos-Upload/From%20DCX/2014/05/10/doc6a78e9tcnolkl801nmq.ashx?w=140&h=105&crop=1&" /></a>
                        </div>
                        <div class="col-sm-8">
                            <a href="#" class="bold-font">This is title</a>
                            <p>
                                This is abstract text for the article <a href="#">more..</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="#">
                        <img class="img-responsive" src="http://www.thestar.com.my/~/media/Images/TSOL/Photos-Upload/From%20DCX/2014/05/05/doc6f5l96zns3pzva53fqk.ashx?w=140&h=105&crop=1&" /></a>
                </div>
                <div class="col-sm-8">
                    <a href="#">
                        <h3>
                            This is title</h3>
                    </a>
                    <p>
                        This will be long content than usual and will have more details as usual <a href="#">
                            more..</a></p>
                </div>
            </div>
            <div class="row padtop10">
                <div class="col-sm-3">
                    <a href="#">
                        <img class="img-responsive" src="http://www.thestar.com.my/~/media/Images/TSOL/Photos-Upload/From%20DCX/2014/05/05/doc6f5l96zns3pzva53fqk.ashx?w=140&h=105&crop=1&" /></a>
                </div>
                <div class="col-sm-8">
                    <a href="#">
                        <h3>
                            This is title</h3>
                    </a>
                    <p>
                        This will be long content than usual and will have more details as usual <a href="#">
                            more..</a></p>
                </div>
            </div>
            <!--News content -->
        </div>
        <div class="col-sm-4">
            <div id="events">
                <div class="page-header">
                    <h2>
                        Upcoming Events</h2>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        18/05/2014</div>
                    <div class="col-sm-8">
                        Uber Cup 2014</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        18/05/2014</div>
                    <div class="col-sm-8">
                        Thomas Cup 2014</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        18/05/2014</div>
                    <div class="col-sm-8">
                        Indian Badminton League2014</div>
                </div>
            </div>
            <div id="rankings">
            <div class="page-header"><h2>Player Rankings</h2></div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#mens-singles" data-toggle="tab">MS</a></li>
                    <li><a href="#womens-singles" data-toggle="tab">WS</a></li>
                    <li><a href="#mens-doubles" data-toggle="tab">MD</a></li>
                    <li><a href="#womens-doubles" data-toggle="tab">WD</a></li>
                    <li><a href="#mixed-doubles" data-toggle="tab">XD</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="mens-singles">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Country</th>
                                        <th>Player</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Malaysia</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://www.yonex.com/_assets/images/cache/newsarticles/newsarticlemain/news-badminton-8-malaysia-open-1.jpg" />Lee Chong Wei</td>
                                        <td>100523</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>China</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Chen Long</td>
                                        <td>75455</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Denmark</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Jan O JORGENSEN</td>
                                        <td>75455</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Japan</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Kenichi TAGO</td>
                                        <td>75455</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>China</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Lee Chong Wei</td>
                                        <td>75455</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                        
                    </div>
                    <div class="tab-pane" id="womens-singles">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Country</th>
                                        <th>Player</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Malaysia</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://www.yonex.com/_assets/images/cache/newsarticles/newsarticlemain/news-badminton-8-malaysia-open-1.jpg" />Lee Chong Wei</td>
                                        <td>100523</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>China</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Chen Long</td>
                                        <td>75455</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Denmark</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Jan O JORGENSEN</td>
                                        <td>75455</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Japan</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Kenichi TAGO</td>
                                        <td>75455</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>China</td>
                                        <td><img class="img-rounded" width="32" height="32" src="http://content.tournamentsoftware.com/images/profile/209B123F-AA87-41A2-BC3E-CB57133E64CC/8F42FC23-89C1-40CF-8F20-8519DE2BE4EF.jpg" />Lee Chong Wei</td>
                                        <td>75455</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        </div>
                    <div class="tab-pane" id="mens-doubles">
                        MD</div>
                    <div class="tab-pane" id="womens-doubles">
                        WD</div>
                        <div class="tab-pane" id="mixed-doubles">
                        XD</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
