html{
    height:100%;
}

body{
    min-height:100%;
}


.header{
  color:white;
}

.footer
{
    bottom:0;
    height:35px;
    position:absolute;
    border-top:1px solid #e4e4e4;
    background:#f2f2f2;
}

.footer a
{    
    color:#666;
}
.width100
{
    width:100%;
}

.padtop70{
  padding-top:70px;   
}
.padtop50{
  padding-top:50px;
}
.padtop10{
  padding-top:10px;
}
.padleft5{
  padding-left:5px;
}

.martop10
{
    margin-top:10px;
}

#menunav>.navbar-nav>li>.active
{
    font-weight:bold;
}

.allcourts
{
    background-color:lightgoldenrodyellow;
}

.page-min-height
{
    min-height:750px;
}

.white-bg{
  background-color:#ffffff;
}
.marleft10{
  margin-left:10px;
}
#searchnav{
  width:50%;
  float:right;
}
.navbar-brand{
  font-size:24px;
  color:yellowgreen !important;
  font-weight:bolder;
}

table
{
    font-size:12px;
}

.breadcrumb-custom
{
    list-style:none;
    font-size:12px;
    margin-top:5px;
    padding-left:15px;    
}

.modal-header
{
    background-color:inherit;
    color:inherit;
}

.modal-header .close
{
    color:inherit;
}

.breadcrumb-custom>li
{
    display:inline-block
}
.breadcrumb-custom>li+li:before
{
    content: ">\00a0";
    padding: 0 1px;
    color:#ccc
}

.breadcrumb-custom>.active
{
    color:#999
}

.bold-font{
    font-weight:bold !important;
}

.grey
{
    color:lavender;
    font-size:12px;
    font-weight:normal;
}
@media (max-width: 768px)
  {
    #searchnav{
    width:100%;
    font-size:14px;
    }    
    .navcont{
        padding-left:5px;
        padding-right:5px;
    }
    
  }
  
  .jumbo-custom
  {
      background-color:#1967be;
      color:white;
      text-align:center;
            
  }
  
  
  
  /*Partner search related CSS*/
  
 
.btn-area{
	margin:2px;	
}
.martop10{
	margin-top:10px;
}

.martop100{
	margin-top:100px;
}

.leftcolumn{
	border-right:5px solid orange;
	margin:5px;	
}

.signup{
	border-left: 2px dotted Gray;	
}

#areatext
{
    border: 0px;
}
.nopad
{
    padding:0px;
}
  
  
  /*Partner search related CSS*/
  
